* {
  background-color: black;
}
input {
  border: 0;
}
body {
  margin: 0px 160px;
}
.logo {
  display: flex;
  color: #fff;
  justify-self: start;
  align-items: center;
  width: 24px;
  height: 24px;
}
nav {
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 48px;
  display: flex;
  justify-content: space-evenly;
  padding-left: 417px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
.support-button {
  background-color: #f4511f;
  color: #fff;
  border-radius: 24px;
  padding: 9px 24px;
  font-size: 16px;
  font-weight: 400;
  padding: 9px 24px;
}
.hero-section {
  margin-top: 61px;
  margin-left: 21px;
  display: flex;
  color: #fff;
  gap: 78px;
}
.dishname {
  text-align: right;
  margin-right: 200px;
  margin-top: 12px;
}
.right {
  margin-top: 32px;
}
caption {
  font-size: 20px;
  font-weight: 400;
}
.text p {
  font-size: 64px;
  margin: 0;
}
.discription {
  margin-top: 34px;
}
.order-button {
  background-color: #f4511f;
  color: #fff;
  border-radius: 8px;
  padding: 18px 28px;
  font-weight: 400;
  margin-top: 30px;
  font-size: 16px;
}
