* {
  background-color: black;
}
input {
  border: 0;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0px 8%;
}
.logo {
  display: flex;
  color: #fff;
  justify-self: start;
  align-items: center;
  width: 75px;
  height: 24px;
}
nav {
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 48px;
  display: flex;
  justify-content: space-evenly;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.support-button {
  background-color: #f4511f;
  color: #fff;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 400;
  padding: 9px 24px 8px 24px;
}
.hero-section {
  margin-top: 61px;
  display: flex;
  color: #fff;
  justify-content: space-between;
}
.dishname {
  text-align: right;
  margin-top: 12px;
  width: 40%;
}
.right {
  margin-top: 32px;
  flex-basis: 50%;
}
.caption {
  font-size: 20px;
  font-weight: 400;
}
.text p {
  font-size: 64px;
  margin: 0;
  line-height: 70px;
}
.description {
  margin-top: 34px;
  padding: 2%;
}
.order-button {
  background-color: #f4511f;
  color: #fff;
  border-radius: 8px;
  padding: 18px 28px;
  font-weight: 400;
  margin-top: 30px;
  font-size: 16px;
}
.left {
  flex-basis: 50%;
}
.left img {
  width: 75%;
}
.service-text {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  padding-top: 211px;
  padding-bottom: 65px;
}
.services-section {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 110px;
}
.customer-service-container {
  display: flex;
  padding-top: 65px;
  flex-direction: column;
}
.service-name-hours {
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  width: 127px;
  padding: 20px 22px 4px 22px;
}
.service-hours-description {
  color: #dad8d7;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 171px;
}
.fast-delivery-container {
  display: flex;
  flex-direction: column;
  padding: 91px 125px 0px 95px;
}
.service-name-fast {
  width: 127px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  padding: 20px 26px 4px 69px;
}
.fast-description {
  width: 175px;
  color: #dad8d7;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-left: 42px;
}
.food-container {
  display: flex;
  flex-direction: column;
  padding-top: 71px;
}
.service-name-food {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  width: 133px;
  padding: 0 19px 4px 50px;
}
.food-description {
  width: 171px;
  color: #dad8d7;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 0 23px 0 30px;
}
/* about-section */
.about-container {
  display: flex;
  justify-content: space-around;
  gap: 153px;
  padding: 0 0 159px 0;
}
.about-text {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  padding: 60px 0 48px 0;
}
.about-description {
  color: #dad8d7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 35px;
}
.about-button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border-radius: 8px;
  background: #f4511f;
  padding: 17px 28px 16px 28px;
}
.right-section {
  display: flex;
}
/* premium-menu */
.neapolitan-pizza {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.neapolitan-pizza img {
  width: 109px;
  height: 113px;
}
.premium-text {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}
/* food-section-container */
.container {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 68px;
}
.pizza {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pizza-name {
  color: #fff;
  width: 166px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-top: 20px;
}
.food-type {
  color: #dad8d7;
  width: 85px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  padding-left: 51px;
  padding-right: 53px;
}
.rate {
  width: 46px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 11px 60px 0 60px;
  display: flex;
  flex-direction: row;
}
.cart-img img {
  border-radius: 4px 4px 12px 4px;
  background: #f4511f;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  padding: 8px 8px 4px 4px;
}
.cart-img {
  padding: 4px 0 16px 89px;
}
/* discount */
.discount {
  display: flex;
  padding-top: 224px;
  justify-content: center;
}
.left-sec {
  padding-right: 116px;
}
.right-sec {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.right-sec p {
  margin: 0;
  padding-top: 69px;
}
.goto {
  padding: 30px 35px 35px 0;
}
.goto input {
  color: #fff;

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border-radius: 8px;
  background: #f4511f;
  padding: 17px 28px 16px 28px;
}
/* arriavls */
.arrival-text {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  padding-top: 220px;
  padding-bottom: 94px;
}
.bacon-cheeseburger-containe {
  display: flex;
}
.arrivals-container {
  display: flex;
}
.new {
  padding-right: 222px;
}
.new input {
  border-radius: 4px;
  background: #f4511f;
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding: 4px 8px 5px 8px;
}
.image-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.burger {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-top: 37px;
}
.burger-type {
  color: #dad8d7;
  text-align: center;
  font-size: 13px;
}
.price-tag {
  display: flex;
  padding-top: 18px;
}
.price {
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.discounts {
  color: #f4511f;
  text-align: center;
  font-size: 13px;
  padding: 4px 0px 2px 8px;
}
.arrival-cart {
  display: flex;
}
.arrival-cart-img {
  padding-left: 32px;
  align-self: flex-end;
}
.arrival-cart-img img {
  border-radius: 4px 4px 12px 4px;
  background: #f4511f;

  padding: 8px 8px 4px 4px;
}
.news-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 161px;
}
.news-text {
  padding-top: 146px;
  color: #fff;
  text-align: center;
  font-size: 36px;
}
.news-description {
  padding-top: 48px;
  padding-bottom: 41px;
  margin: auto;
  color: #dad8d7;
  text-align: center;
  font-size: 16px;
}
.subscribe-button {
  font-size: 16px;
  border-radius: 8px;
  background: #f4511f;
  color: #fff;
  padding: 17px 28px 16px 28px;
}
/* footer-section */

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 112px;
}
.footer-text {
  color: #dad8d7;
  font-size: 16px;
  padding-top: 17px;
}
.footer-caption {
  color: #fff;
  font-size: 20px;
}
.footer-text-a {
  padding-top: 18px;
  padding-bottom: 11px;
  color: #dad8d7;
  font-size: 13px;
}
.footer-text-b {
  color: #dad8d7;
  font-size: 13px;
  padding-bottom: 10px;
}
.footer-text-c {
  color: #dad8d7;
  font-size: 13px;
}
.footer-tasty {
  color: #dad8d7;
  text-align: center;
  font-size: 12px;
  padding-bottom: 67px;
}
/* for tablet */
@media (min-width: 460px) and (max-width: 1280px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 0 6%;
  }
  /* hero-section */
  nav {
    padding-left: 112px;
  }
  .hero-section .right {
    margin-top: 35px;
  }
  .hero-section {
    gap: 80px;
  }
  .caption {
    font-size: 16px;
  }

  .left img {
    width: 40vw;
  }
  .dishname {
    font-size: 12px;
    width: 18vw;
    margin-left: 30px;
  }
  .right .text p {
    line-height: 50px;
    font-size: 43px;
  }
  .right .description {
    font-size: 10px;
    font-weight: 500;
  }
  /* our-servies */
  .services-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .services-section img {
    width: 17vw;
    justify-content: center;
    align-items: center;
  }
  .customer-service-container {
    justify-content: center;
    align-items: center;
  }
  .fast-delivery-container {
    align-items: center;
    padding-left: 1px;
    padding-right: 1px;
  }
  .food-container {
    justify-content: center;
    align-items: center;
  }
  .food-container {
    padding-top: 97px;
  }
  /* about-container */
  .about-container {
    gap: 80px;
    padding: 0 20px 60px 20px;
  }
  .left-section {
    flex-basis: 50%;
  }

  .right-section {
    flex-basis: 50%;
  }
  .right-section img {
    width: 70%;
  }
  /* preimium-section */
  .container {
    grid-template-columns: 1fr 1fr;
    gap: 21px;
    margin-right: 68px;
  }
  .arrivals-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .arrivals-container img {
    height: 100%;
  }
}
/* Responsive for phones */
@media (min-width: 0px) and (max-width: 460px) {
  body {
    margin: 0 5%;
  }
  nav {
    gap: 8px;
    font-size: 12px;
  }
  .support-button {
    font-size: 12px;
    padding: 4px 16px;
    margin-left: 8px;
  }
  .hero-section {
    flex-direction: column;
  }
  .left img {
    width: 100%;
  }
  .service-text {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .services-section {
    flex-direction: column;
    align-items: center;
  }
  .right-section {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .discount {
    flex-direction: column;
  }
  .arrivals-container {
    flex-direction: column;
  }
  .news-description {
    font-size: 14px;
  }
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }
}
