/* this will be the styles file */
* {
  background-color: black;
}
body {
  margin: 0 160px;
}
.logo {
  display: flex;
  color: #fff;
  justify-self: start;
  align-items: center;
}
nav {
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 48px;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
}
.support-button {
  background-color: #f4511f;
  color: #fff;
  border-radius: 24px;
  padding: 9px 24px;
  font-size: 16px;
  font-weight: 400;
}
nav {
  display: flex;
  display: inline-flex;
  justify-content: space-evenly;
}
.hero-section {
  margin-top: 61px;
  margin-left: 21px;
  display: flex;
  color: #fff;
}
.dishname {
  text-align: right;
  margin-right: 200px;
}
